# CMake artifacts
build/
cmake-build-debug/
cmake-build-release/
CMakeCache.txt
CMakeFiles/
CPackConfig.cmake
CPackSourceConfig.cmake
_deps/

# Compiled object files
*.o
*.obj
*.exe
*.dll
*.so
*.dylib
*.a
*.lib

# IDEs
.idea/
.vscode/
*.sln
*.vcxproj
*.vcxproj.user
*.vcxproj.filters

# Temporary/Backup files
*~
*.swp
